.vscode/
test.sh
logs/
analysis
StartupManager/StartupManager.cpp
PreferencesManager/PreferencesParser.cpp
PreferencesManager/PreferencesManager.cpp
FlagsManager/FlagsManager.cpp
analysis.cpp
StartupManager/StartupManager.o
PreferencesManager/PreferencesParser.o
PreferencesManager/PreferencesManager.o
FlagsManager/FlagsManager.o
preferences.bin
analysis.app
analysis.o
PreferencesManager/PreferencesInputHelper.cpp
UtilsManager/IOUtils.o
UtilsManager/IOUtils.cpp
DataManager/DataManager.o
DataManager/DataManager.cpp
log_dates.csv
Web-Site-Analysis-Utility.code-workspace
logs.zip
